## Ignore the following shit:
#

## the node_modules directory
node_modules/**
node_modules

## the dist directory which contains compiled code and modules
dist/**
dist

## webstorm stuff
.idea/**
.idea

## any raw data files
*.tsv
*.csv
*.txt

## vim swap files
*.sw*

## yarn stuff
yarn-error.log


